body {
    background-color: #08161e;
    font-family: 'Courier New', Courier, monospace;
    color: #ddd;
}
.nav_bar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 200px;
}
.nav_text {
    font-size: 24px;
    font-weight: bold;
}
.container {
    margin-top: 30px;
}
.row {
}
.col-8 {
    font-size: 20px;
    font-weight: bold;
}
.col-4 {
}
.col-3 {
    font-size: 10px;
}
.header1{
    font-size: 40px;
}
.col-1 {
    text-align: center;
}
.logo {
    background: url(../image/hackerman.webp) no-repeat center center;
    background-size: 100%;
    width: 50px;
    height: 50px;
}
.col-9 {
}
.nav_text {
}
.img_size {
}
.my_photo_title {
    margin-left: 20px;
}
.my_photo {
    background: url(../image/hecker.jpg) no-repeat center center;
    background-size: 100%;
    width: 200px;
    height: 357px;
}